.user-block{
    display: flex;
    justify-content:space-between;
    border: 1px solid lightgray;
    border-radius: 3px;
    box-shadow: gray 3px 3px 10px;
    margin: 5% 20%;
    padding: 3% 0%;

}

img{
    width: 100px;
    height: 100px;
    padding: 6% 10% 5% 8%;
}

.user-block div{
    flex-grow: 1;
    font-size: 14pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}


.user-block .left p{   
    color: gray;
    margin: 10px;
}

.user-block .right p{
    color: rgb(90, 88, 139);
    margin: 10px;
}

